.header {
  nav {
    padding: 1.0625rem 1.5rem;
  }

  .overlay {
    position: fixed;
    opacity: 0;
    top: 3.7rem;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: linear-gradient($dark-blue -20%, transparent);
  }

  &__menu {
    > span {
      display: block;
      width: 1.625rem;
      height: 0.125rem;
      background-color: $dark-blue;
      transition: all 0.3s ease-in-out;
      transform-origin: 5.5px 1.5px;

      &:not(:last-child) {
        margin-bottom: 0.1875rem;
      }
    }

    &.open {
      > span:first-child {
        transform: rotate(45deg);
      }

      > span:nth-child(2) {
        opacity: 0;
      }

      > span:last-child {
        transform: rotate(-45deg);
      }
    }
  }

  &__links {
    a {
      font-size: $font-sm;
      color: $grayish-blue;
      transition: all 0.2s;
      padding-bottom: 1.6875rem;

      &:not(:last-child) {
        margin-right: 2rem;
      }
    }

    a:hover {
      color: $dark-blue;
      border-bottom-width: 0.25rem;
      border-bottom-style: solid;
      border-image: linear-gradient(90deg, $lime-green, $bright-cyan);
      border-image-slice: 1;
    }
  }
}
