.header {
	
  nav {
    padding: 1.0625rem 1.5rem;
  }

  // &__logo {
  //   img {
  //   }
  // }

  &__menu {
    > span {
      display: block;
      width: 26px;
      height: 2px;
      background-color: $dark-blue;

      &:not(:last-child) {
        margin-bottom: 3px;
      }
    }
  }

  &__links {
    a {
      font-size: $font-sm;
      color: $grayish-blue;
      transition: color 200ms ease-in-out;
			padding-bottom: 1.6875rem;

      &:not(:last-child) {
        margin-right: 32px;
      }
    }

    a:hover {
      color: $dark-blue;
      border-bottom-width: 4px;
      border-bottom-style: solid;
      border-image: linear-gradient(90deg, $lime-green, $bright-cyan);
      border-image-slice: 1;
    }
  }
}
