.header {

  nav {
    padding: 1.0625rem 1.5rem;
  }

  // &__logo {
  //   img {
  //   }
  // }

  &__menu {
    > span {
      display: block;
      width: 1.625rem;
      height: 0.125rem;
      background-color: $dark-blue;

      &:not(:last-child) {
        margin-bottom: 0.1875rem;
      }
    }
  }

  &__links {
    a {
      font-size: $font-sm;
      color: $grayish-blue;
      transition: all 0.2s;
			padding-bottom: 1.6875rem;

      &:not(:last-child) {
        margin-right: 2rem;
      }
    }

    a:hover {
      color: $dark-blue;
      border-bottom-width: 0.25rem;
      border-bottom-style: solid;
      border-image: linear-gradient(90deg, $lime-green, $bright-cyan);
      border-image-slice: 1;
    }
  }
}
